.query {
  color: #444;
  font-size: 20px;
  padding: 5px;
  width: 443px;
}

.list {
  margin: 30px;
  width: 500px;
  border: 2px solid #ccc;
}

.entry, .entry-query {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.matched {
  background-color: #fec;
  color: #333;
}

.matched b {
  background-color: #fc0;
  color: #222;
}

.excluded {
  background-color: #eee;
  color: #888;
}